@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: "Modern Negra";
  src: url("Modern_Negra_Demo.ttf") format("truetype");
  font-display: swap;
}
